body {
    background-color: lightskyblue;
 
}
.main {
    width: 60%;
    height: 400px ;
    margin: 0px auto ;

    display: flex;
    flex-direction: row;
}
.left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right {
    width: 70%;
}
.left>img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    
}



